
<p>Hi I'm Alex...</p>

<div>
<h4>Experience</h4>
</div>

<h4>Projects</h4>
<ul>
  <li>
    <a href='http://www.bitsonbitsonbits.com'>Bits on Bits on Bits</a>
  </li>
  <li>
    <a href='http://www.hipjoin.com'>Hipjoin</a>
  </li>
</ul>

<h4>Connect with Me</h4>
<ul>
  <li>
    <a href='http://www.twitter.com/mralexlau'>Twitter</a>
  </li>
  <li>
    <a href='https://www.linkedin.com/pub/alex-lau/56/1a8/52'>LinkedIn</a>
  </li>
  <li>
    <a href='http://stackoverflow.com/users/2339716/mralexlau'>Stackoverflow</a>
  </li>
  <li>
    <a href='https://github.com/mralexlau'>Github</a>
  </li>
</ul>