<div class="absolute-center menu">
    <div class="circle absolute-center main">
      <a href="javascript:;" class="">
        <div class="inner"></div>
      </a>
    </div>
    <div class="absolute-center orbit">
      <div class="circle connect">
        <a href="javascript:;">
          <div class="inner absolute-center">Connect</div>
        </a>
      </div>

      <div class="circle skills">
        <a href="javascript:;">
          <div class="inner absolute-center">Skills</div>
        </a>
      </div>

      <div class="circle career">
        <a href="javascript:;">
          <div class="inner absolute-center">Career</div>
        </a>
      </div>

      <div class="circle projects">
        <a href="javascript:;">
          <div class="inner absolute-center">Projects</div>
        </a>
      </div>
  </div>
</div>

<div class="skills-details">
  <a href="javascript:;" class="close">Close</a>
Here are some details
</div>