

<header>
  <h2>Hi I'm Alex...</h2>
  I'm passionate about technology, and am lucky enough to work on software development for my career and side projects in my free time. Here's a collection of what I've been working on.
</header>

<h3>Connect with Me</h3>
<ul class="connect">
  <li>
    <a class="contact-me-link" href='javascript:;'>Form</a>
  </li>
  <li>
    <a href='http://www.twitter.com/mralexlau'>Twitter</a>
  </li>
  <li>
    <a href='https://www.linkedin.com/pub/alex-lau/56/1a8/52'>LinkedIn</a>
  </li>
  <li>
    <a href='http://stackoverflow.com/users/2339716/mralexlau'>Stackoverflow</a>
  </li>
  <li>
    <a href='https://github.com/mralexlau'>Github</a>
  </li>
</ul>


<h3>Side Projects</h3>
<ul>
  <li>
    <a href='http://www.bitsonbitsonbits.com'>Bits on Bits on Bits</a>
  </li>
  <li>
    <a href='https://github.com/MrAlexLau/braise'>Braise Gem for Ruby</a>
  </li>
  <li>
    <a href='http://www.hipjoin.com'>Hipjoin</a>
  </li>
</ul>

<h3>Skills</h3>
<article>
  <ul>
    <li>
      Ruby
    </li>
    <li>
      Rails
    </li>
    <li>
      RSpec
    </li>
    <li>
      HTML
    </li>
    <li>
      Javascript
    </li>
    <li>
      CSS
    </li>
    <li>
      Git
    </li>
    <li>
      MYSQL
    </li>
  </ul>
</article>

<h3>Career</h3>
<article>
  <h4>Get Satisfaction</h4>

  Agile dev
  Rspec Tests
  Ruby, Rails, JS, HTML, CSS
</article>

<article>
  <h4>Speakerpedia</h4>

  Research, test, and develop code for a custom CRM.
  Collaborate with talent agents to oversee features and bug fixes for a custom CRM on a daily basis.
  Exemplify best practices in coding by providing guidelines for tracking issues in GitHub and unit testing.
  Wrote a custom Node.js message server to save company from paying monthly fees to an external service.

</article>

<article>
  <h4>General Mills</h4>
  <h6>June 2007 - Present</h6>

  <div>
    Support and develop a wide variety of .NET applications.
    Implement various caching techniques for websites intended to run under low bandwidth conditions.
    Create and utilize existing tools to facilitate faster and more accurate QA testing processes.
    Provide advanced debugging training sessions to other developers.
  </div>

  Highlights:
  <ul>
    <li>
      Support and develop a wide variety of .NET applications.
    </li>
    <li>
      Wrote code which optimized thousands of sales orders by adding critical supply chain automations in SAP.
    </li>
    <li>
      Promoted twice within 3 years.
    </li>
  </ul>
</article>

