<!DOCTYPE html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="css/style.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <body>
    <div class="header">
      <div class="message">
        Hi, I'm Alex Lau
      </div>
      <div class="connect">
        <a href='http://www.twitter.com/mralexlau'><i class='fa fa-twitter'></i></a>
        <a href='https://www.linkedin.com/pub/alex-lau/56/1a8/52'><i class='fa fa-linkedin'></i></a>
        <a href='http://stackoverflow.com/users/2339716/mralexlau'><i class='fa fa-stack-overflow'></i></a>
        <a href='https://github.com/mralexlau'><i class='fa fa-github'></i></a>
      </div>
    </div>

    <% if params['message_status'] && params['message_status'] == 'success' %>
      <div class="notice">
        <span class="success">
          Message sent, thanks!
        </span>
      </div>
    <% elsif params['message_status'] && params['message_status'] == 'error' %>
      <div class="notice">
        <span class="error">
          Message not sent! Please enter a valid email address.
        </span>
      </div>
    <% end %>

    <%= yield %>

    <div class="site-footer">
      <div class="connect">
        <a href='http://www.twitter.com/mralexlau'>Twitter</a>
        <a href='https://www.linkedin.com/pub/alex-lau/56/1a8/52'>LinkedIn</a>
        <a href='http://stackoverflow.com/users/2339716/mralexlau'>Stack Overflow</a>
        <a href='https://github.com/mralexlau'>Github</a>
        <a href='https://coderwall.com/mralexlau'>Coderwall</a>
      </div>
    </div>

    <script src="javascripts/application.js"></script>
  </body>

</html>
