.circle, .planet {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 3px solid #585858;
  border-radius: 50px; }
  .circle a, .planet a {
    display: block;
    height: 100%;
    width: 100%; }

.main.circle, .main.planet {
  background-color: #a3cace;
  background-image: url("/images/logo-70.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  position: absolute;
  width: 100px; }

.zoom-effect {
  transform: scale(20);
  -ms-transform: scale(20);
  /* IE 9 */
  -moz-transform: scale(20);
  /* Firefox */
  -webkit-transform: scale(20);
  /* Safari and Chrome */
  -o-transform: scale(20);
  /* Opera */
  transition: all 1.5s ease; }

.zoom-out-effect {
  transform: scale(1);
  -ms-transform: scale(1);
  /* IE 9 */
  -moz-transform: scale(1);
  /* Firefox */
  -webkit-transform: scale(1);
  /* Safari and Chrome */
  -o-transform: scale(1);
  /* Opera */
  transition: all 1.5s ease; }

.orbit {
  -moz-border-radius: 125px;
  -webkit-border-radius: 125px;
  border: 3px dashed #585858;
  border-radius: 125px;
  height: 250px;
  width: 250px;
  z-index: 1; }

.circle, .planet {
  height: 70px;
  width: 70px;
  z-index: 2; }
  .circle .inner, .planet .inner {
    text-align: center;
    padding-top: 26.25px; }
  .circle:selected, .planet:selected {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    /* IE 9 */
    -moz-transform: scale(1.5);
    /* Firefox */
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    -o-transform: scale(1.5);
    /* Opera */ }

.skills {
  background-color: #a3cace;
  bottom: 0;
  left: 50%;
  margin-left: -38px;
  position: absolute;
  margin-bottom: -35px; }

.details {
  display: none;
  height: 100%;
  width: 100%;
  z-index: 3; }

.connect {
  background-color: #a3cace;
  margin-left: -35px;
  margin-top: -38px;
  position: absolute;
  top: 50%; }

.career {
  background-color: #a3cace;
  left: 50%;
  margin-left: -38px;
  position: absolute;
  margin-top: -35px; }

.projects {
  background-color: #a3cace;
  margin-right: -35px;
  margin-top: -38px;
  position: absolute;
  right: 0;
  top: 50%; }

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.menu {
  height: 100%;
  min-height: 320px;
  min-width: 320px;
  width: 100%; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(360deg); } }
@-webkit-keyframes reverse-rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg); } }
@-moz-keyframes reverse-rotate {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(-360deg); } }
@-moz-keyframes no-rotate {
  from {
    -moz-transform: rotate(0deg); }

  to {
    -moz-transform: rotate(0deg); } }
.orbit {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 60s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 60s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear; }
  .orbit .inner {
    -webkit-animation-name: reverse-rotate;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: reverse-rotate;
    -moz-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear; }
  .orbit:hover .inner {
    animation-play-state: paused;
    -webkit-animation-play-state: paused; }
  .orbit:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused; }

.paused {
  animation-play-state: paused;
  -webkit-animation-play-state: paused; }
