// imports
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400);

// variables
$base-font-size: 16px;
$base-line-height: $base-font-size * 1.5;
$base-text-color: #424242;
$footer-color: #949494;
$gutter: 1em;
$medium-screen: 768px;
$large-screen: 1220px;
$primary-dark-color: #223D5A;
$primary-light-color: #2B8A8E;
$primary-serif-font: 'Bitter', serif;
$primary-sans-serif-font: 'Open Sans', sans-serif;
$secondary-dark-color: #216274;

// styles
body {
  background-color: white;
  color: $base-text-color;
  font-family: $primary-serif-font;
  font-size: $base-font-size;
  height: 100%;
  margin: 0;
}

.details {
  display: none;

  &.selected {
    display: block;
  }
}

.header {
  background-color: $primary-dark-color;
  line-height: $base-line-height * 2;
  min-height: $base-line-height * 2;
  padding: 0 $gutter;

  @media (min-width: $large-screen) {
    padding: 0 ($gutter * 2);
  }

  .message {
    color: #FFFFFF;
    float: left;
    font-size: $base-font-size;
    font-style: italic;

    @media (min-width: $large-screen) {
      font-size: $base-font-size * 1.5;
    }
  }

  .connect {
    text-align: right;

    a {
      color: #FFFFFF;
      padding-right: $gutter;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.description {
  color: $secondary-dark-color;
  font-family: $primary-sans-serif-font;
}

.notice {
  margin: auto;
  text-align: center;
  margin-top: $base-line-height;

  span {
    padding: ($base-line-height / 2) $gutter;
  }

  .success {
    background-color: #EAFFED;
    border: 3px solid #485D45;
    border-radius: 10px;
    color: #229C33;
  }

  .error {
    background-color: #FFF0F0;
    border: 3px solid #5D4545;
    border-radius: 10px;
    color: #A81E1E;
  }
}

.main-content {
  margin: auto;
  width: 90%;

  @media (min-width: $medium-screen) {
    width: 60%;
  }
}

.profile-container {
  margin-top: $base-line-height * 2;
  text-align: center;

  .profile-picture {
    border-radius: 50%;
    width: 200px;

    @media (min-width: $medium-screen) {
      width: 300px;
    }
  }
}

.menu {
  text-align: center;

  .selected {
    background-color: $primary-dark-color;
    color: #FFFFFF;
  }
}

.menu a div {
  border: 1px solid $primary-dark-color;
  color: $primary-dark-color;
  display: inline-block;
  margin: ($base-line-height / 2) ($gutter / 8);
  padding: ($gutter / 2) ($gutter * 1.5);
  text-decoration: none;
  width: 85px;

  @media (min-width: $large-screen) {
    margin: $base-line-height ($gutter / 2);
    width: 100px;
  }
}

.section-heading {
  color: $secondary-dark-color;
  font-weight: bold;
}

.projects-details {
  article {
    .skills {
      margin-top: $base-line-height / 2;

      ul {
        display: table;
        margin: 0;
        padding: ($base-line-height / 2) 0;
        width: 100%;
      }
      li {
        display: table-cell;
      }
    }

    .skills li {
      list-style-type: none;
    }

    @media (min-width: $large-screen) {
      display: table;
      width: 100%;

      .overview, .skills {
        display: table-cell;
      }

      .overview {
        padding-right: $gutter;
        width: 70%;
      }

      .skills {
        border-left: 1px solid $footer-color;
        padding-left: $gutter;
        width: 30%;

        ul {
          padding: $gutter / 2;
        }

        li {
          display: list-item;
          margin-bottom: $base-line-height / 2;
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: $secondary-dark-color;
  }

  .project-title {
    font-family: $primary-serif-font;
    font-size: $base-font-size * 1.75;
    margin-bottom: $base-line-height / 4;
    margin-top: 0;
  }

  .project-subtitle {
    color: $base-text-color;
    font-family: $primary-sans-serif-font;
    font-style: italic;
    margin: 0;
    margin-bottom: $base-line-height / 2;
    opacity: 0.8;
  }
}

.experience-details,
.projects-details {
  position: relative;

  article {
    margin: ($base-line-height * 1.5) 0;
  }
}

.experience-details {
  .company-name {
    font-family: $primary-serif-font;
    font-size: $base-font-size * 1.75;
    margin-bottom: $base-line-height / 4;
    margin-top: 0;
  }

  .tenure {
    color: $base-text-color;
    font-style: italic;
    margin: 0;
    opacity: 0.8;
  }

  .description {
    display: inline-block;
    margin-left: 75px;
    padding-left: $gutter;

    ul {
      margin-left: -75px;
      margin-top: $base-line-height;
    }
  }

  .company-icon {
    background-color: $secondary-dark-color;
    float: left;
    height: 75px;
    position: absolute;
    width: 75px;

    img {
      height: 75px;
      width: 75px;
    }
  }

  @media (min-width: $large-screen) {
    article {
      min-height: 200px;
    }

    .description {
      margin-left: 200px;

      ul {
        margin-left: 0;
      }
    }

    .company-icon {
      height: 200px;
      width: 200px;

      img {
        height: 200px;
        width: 200px;
      }
    }

    .accomplishments .label {
      display: none;
    }
  }

}

.contact-details {
  .field {
    font-family: $primary-sans-serif-font;
    font-style: italic;
    margin-top: $base-line-height;
  }

  .field-input {
    margin-top: $base-line-height / 4;
  }

  textarea {
    min-height: 200px;
    width: 100%;
  }

  input[name=email] {
    width: 30%;
  }

  input[name=math_answer] {
    width: 20px;
  }

  input[type=submit] {
   background-color: $primary-light-color;
   color: #FFFFFF;
   border: 3px solid $primary-dark-color;
   border-radius: 10px;
   font-family: $primary-serif-font;
   font-size: $base-font-size;
   padding: ($base-line-height / 2) $gutter;

   &:hover {
     cursor: pointer;
   }
  }
}

.site-footer {
  border-top: 1px solid $footer-color;
  margin: auto;
  margin-top: $base-line-height;
  min-height: $base-line-height * 4;
  padding-top: $base-line-height / 2;
  text-align: center;
  width: 90%;

  .connect {
    line-height: $base-line-height * 2;
    margin-top: -$base-line-height / 2;
  }

  @media (min-width: $medium-screen) {
    line-height: $base-line-height * 4;
    margin-top: $base-line-height * 4;
    width: 80%;
  }

  .connect a {
    color: $footer-color;
    font-family: $primary-sans-serif-font;
    padding: 0 ($gutter / 2);
    text-decoration: none;

    @media (min-width: $medium-screen) {
      border-right: 1px solid $footer-color;
      padding: 0 $gutter;
    }

    &:last-child {
      border-right: none;
    }
  }
}

