@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600italic,400);
body {
  background-color: white;
  color: #424242;
  font-family: "Bitter", serif;
  font-size: 16px;
  height: 100%;
  margin: 0; }

.details {
  display: none; }
  .details.selected {
    display: block; }

.header {
  background-color: #223d5a;
  line-height: 48px;
  min-height: 48px;
  padding: 0 1em; }
  @media (min-width: 1220px) {
    .header {
      padding: 0 2em; } }
  .header .message {
    color: #FFFFFF;
    float: left;
    font-size: 16px;
    font-style: italic; }
    @media (min-width: 1220px) {
      .header .message {
        font-size: 24px; } }
  .header .connect {
    text-align: right; }
    .header .connect a {
      color: #FFFFFF;
      padding-right: 1em; }
      .header .connect a:last-child {
        padding-right: 0; }

.description {
  color: #216274;
  font-family: "Open Sans", sans-serif; }

.notice {
  margin: auto;
  text-align: center;
  margin-top: 24px; }
  .notice span {
    padding: 12px 1em; }
  .notice .success {
    background-color: #EAFFED;
    border: 3px solid #485D45;
    border-radius: 10px;
    color: #229C33; }
  .notice .error {
    background-color: #FFF0F0;
    border: 3px solid #5D4545;
    border-radius: 10px;
    color: #A81E1E; }

.main-content {
  margin: auto;
  width: 90%; }
  @media (min-width: 768px) {
    .main-content {
      width: 60%; } }

.profile-container {
  margin-top: 48px;
  text-align: center; }
  .profile-container .profile-picture {
    border-radius: 50%;
    width: 200px; }
    @media (min-width: 768px) {
      .profile-container .profile-picture {
        width: 300px; } }

.menu {
  text-align: center; }
  .menu .selected {
    background-color: #223d5a;
    color: #FFFFFF; }

.menu a div {
  border: 1px solid #223d5a;
  color: #223d5a;
  display: inline-block;
  margin: 12px 0.125em;
  padding: 0.5em 1.5em;
  text-decoration: none;
  width: 85px; }
  @media (min-width: 1220px) {
    .menu a div {
      margin: 24px 0.5em;
      width: 100px; } }

.section-heading {
  color: #216274;
  font-weight: bold; }

.projects-details article .skills {
  margin-top: 12px; }
  .projects-details article .skills ul {
    display: table;
    margin: 0;
    padding: 12px 0;
    width: 100%; }
  .projects-details article .skills li {
    display: table-cell; }
.projects-details article .skills li {
  list-style-type: none; }
@media (min-width: 768px) {
  .projects-details article {
    display: table;
    width: 100%; }
    .projects-details article .overview, .projects-details article .skills {
      display: table-cell; }
    .projects-details article .overview {
      padding-right: 1em;
      width: 70%; }
    .projects-details article .skills {
      border-left: 1px solid #949494;
      padding-left: 1em;
      width: 30%; }
      .projects-details article .skills ul {
        padding: 0.5em; }
      .projects-details article .skills li {
        display: list-item;
        margin-bottom: 12px; } }
.projects-details a {
  text-decoration: none;
  color: #216274; }
.projects-details .project-title {
  font-family: "Bitter", serif;
  font-size: 28px;
  margin-bottom: 6px;
  margin-top: 0; }
.projects-details .project-subtitle {
  color: #424242;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin: 0;
  margin-bottom: 12px;
  opacity: 0.8; }

.experience-details,
.projects-details {
  position: relative; }
  .experience-details article,
  .projects-details article {
    margin: 36px 0; }

.experience-details .company-name {
  font-family: "Bitter", serif;
  font-size: 28px;
  margin-bottom: 6px;
  margin-top: 0; }
.experience-details .tenure {
  color: #424242;
  font-style: italic;
  margin: 0;
  opacity: 0.8; }
.experience-details .description {
  display: inline-block;
  margin-left: 75px;
  padding-left: 1em; }
  .experience-details .description ul {
    margin-left: -75px;
    margin-top: 24px; }
.experience-details .company-icon {
  background-color: #216274;
  float: left;
  height: 75px;
  position: absolute;
  width: 75px; }
  .experience-details .company-icon img {
    height: 75px;
    width: 75px; }
@media (min-width: 1220px) {
  .experience-details article {
    min-height: 200px; }
  .experience-details .description {
    margin-left: 200px; }
    .experience-details .description ul {
      margin-left: 0; }
  .experience-details .company-icon {
    height: 200px;
    width: 200px; }
    .experience-details .company-icon img {
      height: 200px;
      width: 200px; }
  .experience-details .accomplishments .label {
    display: none; } }

.contact-details .field {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-top: 24px; }
.contact-details .field-input {
  margin-top: 6px; }
.contact-details textarea {
  min-height: 200px;
  width: 100%; }
.contact-details input[name=email] {
  width: 50%; }
  @media (min-width: 768px) {
    .contact-details input[name=email] {
      width: 30%; } }
.contact-details input[name=math_answer] {
  width: 20px; }
.contact-details input[type=submit] {
  background-color: #2b8a8e;
  color: #FFFFFF;
  border: 3px solid #223d5a;
  border-radius: 10px;
  font-family: "Bitter", serif;
  font-size: 16px;
  padding: 12px 1em; }
  .contact-details input[type=submit]:hover {
    cursor: pointer; }

.site-footer {
  border-top: 1px solid #949494;
  margin: auto;
  margin-top: 24px;
  min-height: 96px;
  padding-top: 12px;
  text-align: center;
  width: 90%; }
  .site-footer .connect {
    line-height: 48px;
    margin-top: -12px; }
  @media (min-width: 768px) {
    .site-footer {
      line-height: 96px;
      margin-top: 96px;
      width: 80%; } }
  .site-footer .connect a {
    color: #949494;
    font-family: "Open Sans", sans-serif;
    padding: 0 0.5em;
    text-decoration: none; }
    @media (min-width: 768px) {
      .site-footer .connect a {
        border-right: 1px solid #949494;
        padding: 0 1em; } }
    .site-footer .connect a:last-child {
      border-right: none; }
